<!-- Footer -->
<footer class="page-footer font-small bg-dark">

  <div class="footer-copyright text-center text-light py-3">
    <div class="col center" style="width:50%">
      <p>
        Disclaimer: This website is for proof of concept purposes only. It is meant to function as a means of practicing
        the
        data science process. There is no guarantee that the statistics, models, or predictions are accurate or
        insightful.
      </p>
      <a href="https://github.com/david-delgrosso/Sports-Info-App/tree/main/SportsApp"><p>Github</p></a>
    </div>
  </div>

</footer>
<!-- Footer -->