<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
    <title>David's Sports App</title>
</head>

<body>
    <section class="p-1">
        <div class="container">
            <div class="row text-center g-1">
                <a href="#" style="text-decoration:none">
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <h3 class="card-title mb-0 bg-dark">NFL</h3>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" style="text-decoration:none">
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <h3 class="card-title mb-0 bg-dark">NBA</h3>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="mlb/" style="text-decoration:none">
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <h3 class="card-title mb-0 bg-dark">MLB</h3>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" style="text-decoration:none">
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <h3 class="card-title mb-0 bg-dark">NHL</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

</body>

</html>