<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark py-3">
    <div class="container">
        <a href="/" class="navbar-brand">Test Web App</a>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Sports</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">NFL</a></li>
                        <li><a class="dropdown-item" href="/NBA">NBA</a></li>
                        <li><a class="dropdown-item" href="#">MLB</a></li>
                        <li><a class="dropdown-item" href="#">NHL</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Models</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/NBA/models/nba_lin_reg">NBA Linear Regression</a></li>
                        <li><a class="dropdown-item" href="/NBA/models/nba_poly_reg">NBA Polynomial Regression</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>