<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    {% load filters %}

    <title>Test Web App</title>
</head>

<body>
    {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/nav.html' %}
    {% block content %} {% endblock %}

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light">NBA Linear Regression Model</h3>
            <hr class="bg-light">
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <h3 class="text-center text-light mb-3">Today's Predictions</h3>
            {% for game, pred in games_and_preds %}
            <div class="row justify-content-center m-3">
                <div class="game-card card text-light bg-dark border-primary">
                    <div class="card-body py-1">
                        <div class="row mt-2">
                            <div class="col-3 mt-1">
                                <p>{{ game.date }}</p>
                            </div>
                            <div class="col-logo">
                                <img src="{% static 'media/nba_logos/'|addstrings:game.away_team.city|addstrings:'_'|addstrings:game.away_team.name|addstrings:'_Logo.png' %}"
                                    width="35" style="float:center; vertical-align:middle" />
                            </div>
                            <div class="col-5 mt-1">
                                <p>{{ game.away_team }} {{ game.away_city }}</p>
                            </div>
                            <div class="col-2 mt-1">
                                <p>{{ pred.away_points_lr }}</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3 mt-1 text-center">
                                <p>{{ game.time }}</p>
                            </div>
                            <div class="col-logo">
                                <img src="{% static 'media/nba_logos/'|addstrings:game.home_team.city|addstrings:'_'|addstrings:game.home_team.name|addstrings:'_Logo.png' %}"
                                    width="35" style="float:center; vertical-align:middle" />
                            </div>
                            <div class="col-5 mt-1">
                                <p>{{ game.home_team }} {{ game.home_city }}</p>
                            </div>
                            <div class="col-2 mt-1">
                                <p>{{ pred.home_points_lr }}</p>
                            </div>
                        </div>
                        <a href="{% url 'load_nba_game' game.id %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light mb-3">Performance</h3>
            <div class="row">
                <div class="col"></div>
                <div class="col align-self-center">
                    <img src="{% static 'media/plots/nba_linreg_rmse.png' %}" style="float:center; vertical-align:middle" />
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light mb-3">Description</h3>
            <h5 class="text-light mb-3">Preparing the Data</h5>
            <p class="text-light mb-3">
                The NBA Linear Regression Model was trained on the previous five years of NBA boxscore dataprovided by NBA-API at RapidAPI.com. Preparing this data was a multistep process.
            </p>
            <p class="text-light mb-3">
                First, the schedule for each season was recorded in a relational database, including each game's date, time, home team, and away team. Next, the boxscore for each game was saved to the database, including basic stats like points, shooting percentage, rebounds, steals, etc. Third, in order to properly train a machine learning model with this data, the training data needed to include only the information that would have been available to the model going into the game.
            </p>
            <p class="text-light mb-3">
                With that in mind, the boxscore statistics for every game and every team were aggregated on a cumulative game-by-game basis, and the home team and away team's per-game stats from games previously played that season were also saved to the database for each game in the schedule. Additionally, the home and away team's opponents stats were aggregated and saved in the same manner.
            </p>
            <p class="text-light mb-3">
                What was left was a filled database with a row for each NBA game played in the last five years and a column for game information, every boxscore stat recorded in that game by the home team and away team, and cumulative aggregated stats going into the game for the home team, the home team's opponents, the away team, and the away team's opponents. Lastly, the data was exported to a CSV file for easy ingestion during model training.
            </p>
            <h5 class="text-light mb-3">Selecting Relevant Columns</h5>
            <p class="text-light mb-3">
                The first step of this process was removing all obviously irrelevant columns from the input dataframe, such as game ID, date, and time information. All of the boxscore stats for that specific game were also deleted other than home points and away points, since those two values were to be the target values of the linear regression models.
            </p>
            <p class="text-light mb-3">
                The second step of the process was to plot the distribution of each remaining column to ensure a normal distribution. In this particular case, every remaining field did in fact have a normal distribution.
            </p>
            <p class="text-light mb-3">
                Next, all fields had to be checked for correlation. A correlation analysis was run, which highlighted several correlated column pairings. Intuitively, this was to be expected for certain fields. For example, the home team's +/- per game was perfectly negatively correlated with the home team's opponents' +/-. This analysis led to several other columns being eliminated until no two columns had a correlation coefficient above a threshold of 0.8.
            </p>
            <h5 class="text-light mb-3">Partitioning Training and Test Data</h5>
            <p class="text-light mb-3">
                
            </p>
        </div>
    </section>

    {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/footer.html' %}
</body>

</html>