<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    {% load filters %}

    <title>Test Web App</title>
</head>

<body>
    {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/nav.html' %}
    {% block content %} {% endblock %}

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light mb-3">NBA Schedule</h3>
            <form action="{% url 'load_nba_home' %}" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-4"></div>
                    <div class="col-3">
                        {{ date_form }}
                    </div>
                    <div class="col-3">
                        <button type="submit" name="date_submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <table class="table text-light table-striped table-dark" id="table" data-filter-control="true">
                <thead>
                    <tr>
                        {% if in_past %}
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                        <th scope="col">Away</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Home</th>
                        <th scope="col">Score</th>
                        <th scope="col"></th>
                        {% else %}
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                        <th scope="col">Away</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Home</th>
                        <th scope="col">Time ET</th>
                        <th scope="col"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for game in nba_games %}
                    <tr>
                        {% if in_past %}
                        <td>{{ game.date }}</td>
                        <td><img src="{% static 'media/nba_logos/'|addstrings:game.away_team.city|addstrings:'_'|addstrings:game.away_team.name|addstrings:'_Logo.png' %}"
                                width="25" style="float:center; vertical-align:middle" /></td>
                        <td>{{ game.away_city }} {{ game.away_team }}</td>
                        <td>@</td>
                        <td><img src="{% static 'media/nba_logos/'|addstrings:game.home_team.city|addstrings:'_'|addstrings:game.home_team.name|addstrings:'_Logo.png' %}"
                                width="25" style="float:center; vertical-align:middle" /></td>
                        <td>{{ game.home_city }} {{ game.home_team }}</td>
                        <td>{{ game.away_points }} - {{ game.home_points }}</td>
                        <td><a href="{% url 'load_nba_game' game.id %}">X</a></td>
                        {% else %}
                        <td>{{ game.date }}</td>
                        <td><img src="{% static 'media/nba_logos/'|addstrings:game.home_team.city|addstrings:'_'|addstrings:game.home_team.name|addstrings:'_Logo.png' %}"
                                width="25" style="float:center; vertical-align:middle" /></td>
                        <td>{{ game.away_city }} {{ game.away_team }}</td>
                        <td>@</td>
                        <td><img src="{% static 'media/nba_logos/'|addstrings:game.home_team.city|addstrings:'_'|addstrings:game.home_team.name|addstrings:'_Logo.png' %}"
                                width="25" style="float:center; vertical-align:middle" /></td>
                        <td>{{ game.home_city }} {{ game.home_team }}</td>
                        <td>{{ game.time }}</td>
                        <td><a href="{% url 'load_nba_game' game.id %}"><img
                                    src="{% static 'media/misc/white-arrow.png' %}" width="25"
                                    style="float:center; vertical-align:middle" /></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="p-1 mb-3">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light mb-3">Generate Predictions</h3>
            <div class="card bg-dark">
                <div class="card-body">
                    <form action="{% url 'load_nba_home' %}" method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-4">
                                <h5 class="text-light">{{ pred_form.model.label }}</h5>
                                {{ pred_form.model }}
                            </div>
                            <div class="col-4">
                                <h5 class="text-light">{{ pred_form.away_team.label }}</h5>
                                {{ pred_form.away_team }}
                            </div>
                            <div class="col-4">
                                <h2 class="text-light text-center mt-4">{{ pred_away_score }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" name="pred_submit" class="btn btn-primary btn-pred">Predict</button>
                            </div>
                            <div class="col-4">
                                <h5 class="text-light">{{ pred_form.home_team.label }}</h5>
                                {{ pred_form.home_team }}
                            </div>
                            <div class="col-4">
                                <h2 class="text-light text-center mt-4">{{ pred_home_score }}</h2>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>

    {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/footer.html' %}
</body>

</html>