<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    {% load filters %}

    <title>Sports Web App</title>
</head>

<body>
    {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/nav.html' %}
    {% block content %} {% endblock %}

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light">NBA Elastic Net Regression Model</h3>
            <hr class="bg-light">
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <h3 class="text-center text-light mb-3">Today's Predictions</h3>
            {% for game, pred in games_and_preds %}
            <div class="row justify-content-center m-3">
                <div class="game-card card text-light bg-dark border-primary">
                    <div class="card-body py-1">
                        <div class="row mt-2">
                            <div class="col-3 mt-1">
                                <p>{{ game.date }}</p>
                            </div>
                            <div class="col-logo">
                                <img src="{% static 'media/nba_logos/'|addstrings:game.away_team.city|addstrings:'_'|addstrings:game.away_team.name|addstrings:'_Logo.png' %}"
                                    width="35" style="float:center; vertical-align:middle" />
                            </div>
                            <div class="col-5 mt-1">
                                <p>{{ game.away_team }} {{ game.away_city }}</p>
                            </div>
                            <div class="col-2 mt-1">
                                <p>{{ pred.away_points_eln }}</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3 mt-1 text-center">
                                <p>{{ game.time|timeformat }}</p>
                            </div>
                            <div class="col-logo">
                                <img src="{% static 'media/nba_logos/'|addstrings:game.home_team.city|addstrings:'_'|addstrings:game.home_team.name|addstrings:'_Logo.png' %}"
                                    width="35" style="float:center; vertical-align:middle" />
                            </div>
                            <div class="col-5 mt-1">
                                <p>{{ game.home_team }} {{ game.home_city }}</p>
                            </div>
                            <div class="col-2 mt-1">
                                <p>{{ pred.home_points_eln }}</p>
                            </div>
                        </div>
                        <a href="{% url 'load_nba_game' game.id %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light mb-3">Performance</h3>
            <div class="row mb-3">
                <div class="col align-self-center">
                    <img src="{% static 'media/plots/nba_eln_reg_rmse.png' %}" width="100%"
                        style="float:center; vertical-align:middle" />
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center">
                    <img src="{% static 'media/plots/nba_eln_reg_me.png' %}" width="100%"
                        style="float:center; vertical-align:middle" />
                </div>
            </div>
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light mb-3">Description</h3>
            {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/data_prep.html'%}
            <h5 class="text-light mb-3">Tuning Hyperparameters</h5>
            <p class="text-light mb-3">
                Elastic net regression is an extension of linear regression, with the goal of limiting the size of the regression coefficients. Elastic net regression applies a combination of two other regression methods, Lasso and Ridge, which attempt to minimize a cost function based on the L1 and L2 norms of the regression coefficients, respectively. Elastic net regression is easily implemented in python using scikit-learn's <span style="font-style:italic">ElasticNet</span> class.
            </p>
            <p class="text-light mb-3">
                This class takes two arguments, or hyperparameters, that drastically impact the performanc of the model. The first hyperparameter is typically denoted as <span style="font-style:italic">alpha</span>, and it acts as a scaling parameter on the L1 and L2 norms in the cost function. An alpha of zero turns the elastic net regressor effectively into a linear regressor as it negates the cost terms completely. The second hyperparameter is called the <span style="font-style:italic">L1 ratio</span>, and it weights the contribution of the L1 term and the L2 term in the cost function. An L1 ratio of 1 is effectively Lasso regression, and an L1 ratio of 0 is effectively Ridge regression.
            </p>
            <p class="text-light mb-3">
                The hyperparameters were tuned using a grid search with cross fold validation. The results of the search indicated that the optimal parameters were the following.
            </p>
            <table class="table text-light table-striped table-dark center mb-3" style="width:30%" id="table"
                data-filter-control="true">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Alpha</th>
                        <th scope="col">L1 Ratio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>0.2</td>
                        <td>0.8</td>
                    </tr>
                </tbody>
            </table>
            <h5 class="text-light mb-3">Training the Model</h5>
            <p class="text-light mb-3">
                As with the other models, a regression object of the <span  style="font-style:italic">ElasticNet</span> class was created for both home points and away points using the hyperparameters shown above. The model errors on the training set are shown below.
            </p>
            <table class="table text-light table-striped table-dark center mb-3" style="width:50%" id="table"
                data-filter-control="true">
                <thead>
                    <tr class="text-left">
                        <th scope="col">Label</th>
                        <th scope="col">R-squared</th>
                        <th scope="col">RMSE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Home Points</td>
                        <td>0.067</td>
                        <td>12.319</td>
                    </tr>
                    <tr>
                        <td>Away Points</td>
                        <td>0.072</td>
                        <td>12.543</td>
                    </tr>
                </tbody>
            </table>
            <h5 class="text-light mb-3">Assessing the Performance</h5>
            <p class="text-light mb-3">
                Next, the generalization error was computed and the results are shown in the table below.
            </p>
            <table class="table text-light table-striped table-dark center mb-3" style="width:50%" id="table"
                data-filter-control="true">
                <thead>
                    <tr class="text-left">
                        <th scope="col">Label</th>
                        <th scope="col">RMSE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Home Points</td>
                        <td>12.131</td>
                    </tr>
                    <tr>
                        <td>Away Points</td>
                        <td>11.675</td>
                    </tr>
                </tbody>
            </table>
            <p class="text-light mb-3">
                These results are similar to those of the NBA Linear Regression model, which is to be expected since elastic nets are linear models as well. However, the model coefficients were far smaller in value due to the elastic net cost function which led to more fields having influence over the final prediction. These coefficients are shown for both models below.
            </p>
            <div class="col align-self-center mb-3">
                <img src="{% static 'media/plots/nba_home_points_eln_reg_driving_coef.png' %}" width="100%"
                    style="float:center; vertical-align:middle" />
            </div>
            <div class="col align-self-center mb-3">
                <img src="{% static 'media/plots/nba_away_points_eln_reg_driving_coef.png' %}" width="100%"
                    style="float:center; vertical-align:middle" />
            </div>
        </div>
    </section>

    {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/footer.html' %}
</body>

</html>