<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    {% load filters %}

    <title>Test Web App</title>
</head>

<body>
    {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/nav.html' %}
    {% block content %} {% endblock %}

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light">NBA Polynomial Regression Model</h3>
            <hr class="bg-light">
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <h3 class="text-center text-light mb-3">Today's Predictions</h3>
            {% for game, pred in games_and_preds %}
            <div class="row justify-content-center m-3">
                <div class="game-card card text-light bg-dark border-primary">
                    <div class="card-body py-1">
                        <div class="row mt-2">
                            <div class="col-3 mt-1">
                                <p>{{ game.date }}</p>
                            </div>
                            <div class="col-logo">
                                <img src="{% static 'media/nba_logos/'|addstrings:game.away_team.city|addstrings:'_'|addstrings:game.away_team.name|addstrings:'_Logo.png' %}"
                                    width="35" style="float:center; vertical-align:middle" />
                            </div>
                            <div class="col-5 mt-1">
                                <p>{{ game.away_team }} {{ game.away_city }}</p>
                            </div>
                            <div class="col-2 mt-1">
                                <p>{{ pred.away_points_pr }}</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3 mt-1 text-center">
                                <p>{{ game.time }}</p>
                            </div>
                            <div class="col-logo">
                                <img src="{% static 'media/nba_logos/'|addstrings:game.home_team.city|addstrings:'_'|addstrings:game.home_team.name|addstrings:'_Logo.png' %}"
                                    width="35" style="float:center; vertical-align:middle" />
                            </div>
                            <div class="col-5 mt-1">
                                <p>{{ game.home_team }} {{ game.home_city }}</p>
                            </div>
                            <div class="col-2 mt-1">
                                <p>{{ pred.home_points_pr }}</p>
                            </div>
                        </div>
                        <a href="{% url 'load_nba_game' game.id %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light mb-3">Performance</h3>
            <div class="row mb-3">
                <div class="col align-self-center">
                    <img src="{% static 'media/plots/nba_poly_reg_rmse.png' %}" width="100%"
                        style="float:center; vertical-align:middle" />
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center">
                    <img src="{% static 'media/plots/nba_poly_reg_me.png' %}" width="100%"
                        style="float:center; vertical-align:middle" />
                </div>
            </div>
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light mb-3">Description</h3>
            {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/data_prep.html'%}
            <h5 class="text-light mb-3">Training the Model</h5>
            <p class="text-light mb-3">
                Training the model was far simpler than preparing the data, as is usually the case with machine
                learning. The model was created with scikit-learn's <span
                    style="font-style:italic">LinearRegression</span> class. The process is as simple as instantiating
                an object of the class and calling the object's <span style="font-style:italic">fit</span> method,
                passing the training predictors and training labels as arguments. Both a home score model and an away
                score model were trained using the corresponding labels.
            </p>
            <h5 class="text-light mb-3">Assessing Model Performance</h5>
            <p class="text-light mb-3">
                Now that the model was trained, it was time to quantify the error in the model. The two error metrics
                used in this assessment were R-squared and root mean squared error (RMSE). R-squared can be thought of
                as, when multiplied by 100, the percentage of variance in the label that is explained by the variance in
                the predictor variables. RMSE can be thought of as the average error expected for a given prediction,
                provided in the same units as the labels.
            </p>
            <p class="text-light mb-3">
                First, the model's performance on the training data was tested. To do this, the model's <span
                    style="font-style:italic">predict</span> method was called on the training data, which generates an
                array of prediction values. Scikit-learn's <span style="font-style:italic">r2_score</span> and <span
                    style="font-style:italic">mean_squared_error</span> were leveraged to help calculate the R-squared
                and RMSE metric. The results are shown in the table below.
            </p>
            <table class="table text-light table-striped table-dark center mb-3" style="width:50%" id="table"
                data-filter-control="true">
                <thead>
                    <tr class="text-left">
                        <th scope="col">Label</th>
                        <th scope="col">R-squared</th>
                        <th scope="col">RMSE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Home Points</td>
                        <td>0.086</td>
                        <td>12.196</td>
                    </tr>
                    <tr>
                        <td>Away Points</td>
                        <td>0.087</td>
                        <td>12.442</td>
                    </tr>
                </tbody>
            </table>
            <p class="text-light mb-3">
                These are results are quite bad, but that is to be expected when trying to apply a linear model to
                complex datasets. Interpreting these results, each model could only account for roughtly 9% of the
                variance in NBA scores, and each individual prediction could be expected to have an error of over 12
                points.
            </p>
            <p class="text-light mb-3">
                The final step of the process was to assess generalization error. So far, the performance of the models
                had only been measured in relation to data it had already seen. This is where the test data sets come
                into play. The RMSE was calculated for each model after comparing the test set labels with the
                predictions made using the test predictor set.
            </p>
            <table class="table text-light table-striped table-dark center mb-3" style="width:50%" id="table"
                data-filter-control="true">
                <thead>
                    <tr class="text-left">
                        <th scope="col">Label</th>
                        <th scope="col">RMSE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Home Points</td>
                        <td>12.022</td>
                    </tr>
                    <tr>
                        <td>Away Points</td>
                        <td>11.637</td>
                    </tr>
                </tbody>
            </table>
            <p class="text-light mb-3">
                Since the results for the training and test datasets were similar, it can be concluded that the model did not
                overfit the data. In fact, the model can be thought of as underfitting the data due its linear
                assumption.
            </p>
            <h5 class="text-light mb-3">Important Predictors</h5>
            <p class="text-light mb-3">
                To properly understand a linear regression model, it is important to review the driving predictors to
                ensure that the results make logical sense. The plots below shows the most influential predictors for
                each model.
            </p>
            <div class="col align-self-center mb-3">
                <img src="{% static 'media/plots/nba_home_points_lin_reg_driving_coef.png' %}" width="100%"
                    style="float:center; vertical-align:middle" />
            </div>
            <div class="col align-self-center mb-3">
                <img src="{% static 'media/plots/nba_away_points_lin_reg_driving_coef.png' %}" width="100%"
                    style="float:center; vertical-align:middle" />
            </div>
        </div>
    </section>

    {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/footer.html' %}
</body>

</html>