<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    {% load filters %}

    <title>Sports Web App</title>
</head>

<body>
    {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/nav.html' %}
    {% block content %} {% endblock %}

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light">NBA Polynomial Regression Model</h3>
            <hr class="bg-light">
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <h3 class="text-center text-light mb-3">Today's Predictions</h3>
            {% for game, pred in games_and_preds %}
            <div class="row justify-content-center m-3">
                <div class="game-card card text-light bg-dark border-primary">
                    <div class="card-body py-1">
                        <div class="row mt-2">
                            <div class="col-3 mt-1">
                                <p>{{ game.date }}</p>
                            </div>
                            <div class="col-logo">
                                <img src="{% static 'media/nba_logos/'|addstrings:game.away_team.city|addstrings:'_'|addstrings:game.away_team.name|addstrings:'_Logo.png' %}"
                                    width="35" style="float:center; vertical-align:middle" />
                            </div>
                            <div class="col-5 mt-1">
                                <p>{{ game.away_team }} {{ game.away_city }}</p>
                            </div>
                            <div class="col-2 mt-1">
                                <p>{{ pred.away_points_pr }}</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3 mt-1 text-center">
                                <p>{{ game.time|timeformat }}</p>
                            </div>
                            <div class="col-logo">
                                <img src="{% static 'media/nba_logos/'|addstrings:game.home_team.city|addstrings:'_'|addstrings:game.home_team.name|addstrings:'_Logo.png' %}"
                                    width="35" style="float:center; vertical-align:middle" />
                            </div>
                            <div class="col-5 mt-1">
                                <p>{{ game.home_team }} {{ game.home_city }}</p>
                            </div>
                            <div class="col-2 mt-1">
                                <p>{{ pred.home_points_pr }}</p>
                            </div>
                        </div>
                        <a href="{% url 'load_nba_game' game.id %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light mb-3">Performance</h3>
            <div class="row mb-3">
                <div class="col align-self-center">
                    <img src="{% static 'media/plots/nba_poly_reg_rmse.png' %}" width="100%"
                        style="float:center; vertical-align:middle" />
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center">
                    <img src="{% static 'media/plots/nba_poly_reg_me.png' %}" width="100%"
                        style="float:center; vertical-align:middle" />
                </div>
            </div>
        </div>
    </section>

    <section class="p-1">
        <div class="container">
            <hr class="bg-light">
            <h3 class="text-center text-light mb-3">Description</h3>
            {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/data_prep.html'%}
            <h5 class="text-light mb-3">Determining the Degree</h5>
            <p class="text-light mb-3">
                Training the model was far simpler than preparing the data, as is usually the case with machine
                learning. The model was created with a combination of scikit-learn's <span style="font-style:italic">LinearRegression</span>, <span style="font-style:italic">PolynomialFeatures</span>, and <span style="font-style:italic">Pipeline</span> classes. The process is as simple as instantiating
                an object of the <span style="font-style:italic">Pipeline</span> class with two steps - a <span style="font-style:italic">PolynomialFeatures</span> object with a specified degree and a <span style="font-style:italic">LinearRegression</span> object. Then, the model can be trained by calling the <span style="font-style:italic">Pipeline</span>'s <span style="font-style:italic">fit</span> method, passing the training predictors and training labels as arguments. Both a home score model and an away
                score model were trained using the corresponding labels.
            </p>
            <p class="text-light mb-3">
                The first step of a polynomial regression is determining the degree of the polynomial. To find the appropriate degree empirically, a pipeline object was created with for a polynomial of degrees 1, 2, and 3. The RMSE of the pipline for the home points training data set for each degree of polynomial is shown below.
            </p>
            <div class="col mb-3 text-center">
                <img src="{% static 'media/plots/nba_poly_reg_degree_selection.png' %}" width="60%"
                    style="float:center; vertical-align:middle" />
            </div>
            <p class="text-light mb-3">
                The plot above shows that the RMSE drops as the order of polynomial increases, which is to be expected. An order of 1 represents an ordinary least squares regression model, and the RMSE is very similar to that of the NBA Linear Regression model. This linear assumption causes that model to underfit the data, which leads to a larger error.
            </p>
            <p class="text-light mb-3">
                It is also worth noting that the RMSE of a third order polynomial regression model is about zero. That's an important observation because it means that the model was capable of effectively memorizing the dataset. It could perfectly predict the training data, but overfitting the training data means that the generalization error of the model was probably large. As expected, when creating home points and away points models for the training data, the assessment metrics were perfect. Meanwhile, the model performed terribly on the test set. The results are shown in the table below.
            </p>
            <table class="table text-light table-striped table-dark center mb-3" style="width:50%" id="table"
                data-filter-control="true">
                <thead>
                    <tr class="text-center">
                        <th scope="col"></th>
                        <th colspan="2">Training</th>
                        <th scope="col">Test</th>
                    </tr>
                    <tr class="text-left">
                        <th scope="col">Label</th>
                        <th scope="col" class="text-center">R-squared</th>
                        <th scope="col" class="text-center">RMSE</th>
                        <th scope="col" class="text-center">RMSE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Home</td>
                        <td class="text-center">1.0</td>
                        <td class="text-center">0.0</td>
                        <td class="text-center">118.390</td>
                    </tr>
                    <tr>
                        <td>Away</td>
                        <td class="text-center">1.0</td>
                        <td class="text-center">0.0</td>
                        <td class="text-center">117.904</td>
                    </tr>
                </tbody>
            </table>
            <h5 class="text-light mb-3">Training the Model</h5>
            <p class="text-light mb-3">
                Last was the second order polynomial model, also known as a quadratic model. The model demonstrated an improved error metric compared to the linear model but did not seem to overfit the training data as extensively as the third order model did. A home and away quadratic regression model was created and the results are shown below.
            </p>
            <table class="table text-light table-striped table-dark center mb-3" style="width:50%" id="table"
                data-filter-control="true">
                <thead>
                    <tr class="text-center">
                        <th scope="col"></th>
                        <th colspan="2">Training</th>
                        <th scope="col">Test</th>
                    </tr>
                    <tr class="text-left">
                        <th scope="col">Label</th>
                        <th scope="col" class="text-center">R-squared</th>
                        <th scope="col" class="text-center">RMSE</th>
                        <th scope="col" class="text-center">RMSE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Home</td>
                        <td class="text-center">0.466</td>
                        <td class="text-center">9.321</td>
                        <td class="text-center">17.651</td>
                    </tr>
                    <tr>
                        <td>Away</td>
                        <td class="text-center">0.483</td>
                        <td class="text-center">9.363</td>
                        <td class="text-center">17.099</td>
                    </tr>
                </tbody>
            </table>
            <p class="text-light mb-3">
                The quadratic model fits the training data better than the linear model but there is at least a moderate element of overfitting as is evident by the test data RMSE being substantially worse than the training data. It should be expected that this model would not perform well when applied to current matchups. However, there unfortunately is no middle ground in this scenario. The first order polynomial underfits the data and the second order polynomial overfits the data, thus detailing a limitation of polynomial regressors.
            </p>
            <p class="text-light mb-3">
                Unfortunately, the <span style="font-style:italic">Pipeline</span> class does not carry the coefficients calculated within the underlying predictive model, and therefore there cannot be any further investigation into the coefficients determined during training.
            </p>
        </div>
    </section>

    {% include '/home/davidm97/Projects/Sports-Info-App/SportsApp/SportsApp/templates/SportsApp/footer.html' %}
</body>

</html>