body {
    background-color: #17171b;
}

.progress {
    border-radius: 3px;
    height: 10px;
    width: 50px;
    margin-top: 7px;
}

.container {
    max-width: 45%;
}

.center {
    margin: auto;
    text-align: center;
}

.btn-pred {
    padding: 2%;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 7%;
    width: 100%;
}

.game-card {
    max-width: 70%;
    vertical-align: middle;
}

.col-logo {
    width: 10%;
}

@media all and (min-width:0px) and (max-width: 1024px) {
    body {
        background-color: #17171b;
        position: absolute;
    }

    .container {
        max-width: 100%;
    }
}